body{
    padding-left: 5%;
}

.leng_buttons{
    position: absolute;
    top: 2%;
    right: 10%;
}

.exit{
    position: absolute;
    top: 7%;
    right: 10%;
}

.exit_button{
    padding: 18%;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.button{
    width: 10%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}