body{
    padding-left: 5%;
    background-color: rgba(237, 237, 237, 1);
}


.button_l{
    width: 50px;
    color: black;
    background-color: rgba(255,255,255,0.6);
}


.button_ukr{
    display: inline;
    background-image: url(ukr.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button_eng{
    display: inline;
    background-image: url(eng.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.standart_buttons{
    text-align: end;
    position: absolute;
    top: 5%;
    right: 10%;
}

.bottom_button:disabled{
    opacity: 0.7
}
.button:disabled{
    opacity: 0.7
}



.exit_button{
    width: 120px;
    padding: 18%;
    margin-top: 20%;
    border-radius: 7%;
    color: white;
    border: none;
    background-color: rgba(27, 93, 125, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.buttons{
    display: flex;
    flex-direction: column;
}

.button{
    width: 130px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
    background-color: rgba(27, 93, 125, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.content{
    padding-top: 5%;
    display: flex;
    width: 80%;
    color: rgba(47, 66, 72, 1);
}

.main_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 214, 214);
    margin-left: 5%;
}

.table_top{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.head_of_table{
    background-color: rgba(100, 155, 152, 1);
    color: white;
}

.last_col{
    display: none;
}

.sort_section{
    position: relative;
    display: flex;
}

.sort_title{
    position: absolute;
    top: 30%;
    right: 110%
}

.sort_card{
    width: 100px;
    height: 20px;
    margin-top: 4px;
    color: white;
    border: none;
    border-radius: 7%;
    background-color: rgba(62, 161, 188, 1);
}

.sort_section-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add{
    width: 40%;
    display: flex;
    align-items: center;
}

.add_select{
    width: 50%;
}

.add_card{
    width: 50%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 7%;
    background-color: rgba(62, 161, 188, 1);

}

table{
    width: 80%;
    text-align: center;
}

td{
    background-color: white;
    width: 20%;
    border: 1px solid black;
}

.block_card{
    width: 100%;
    border: none;
    height: 100%;
    background-color: transparent;
    color: white;
}

.block_card_section{
    background-color: rgba(100, 155, 152, 1);
    border-radius: 7%;
}

.bottom_button{
    margin-top: 15px;
    width: 40px;
    color: white;
    border: none;
    border-radius: 7%;
    background-color: rgba(62, 161, 188, 1);
}